@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "base/variables";
@import "base/global";
@import "base/typography";

@import "components/button";
@import "components/file";
@import "components/input";
@import "components/editor";
@import "components/highlight";
@import "components/tree";

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/modal";

$header-height: 54px;
$toolbar-height: 120px;

.app-header {
  display: flex;
  height: $header-height;
  align-items: center;
  padding: 0 16px;
  background-color: #FFF;
  border-bottom: 1px solid $color-border;

  h1 {
    font-size: 16px;
    margin-bottom: 0;
  }
  img {
    width: 97px;
    margin-left: auto;
  }
}

.app-toolbar {
  display: flex;
  height: $toolbar-height;
  align-content: center;
  border-bottom: 1px solid $color-border-dark;
}

.app-content {
  display: flex;
  position: relative;
  height: calc(100vh - #{$header-height});
  transition: opacity 250ms ease;

  &.loading {
    opacity: 0.3;
  }
}

.app-sidebar {
  width: 320px;
  border-right: 1px solid $color-border-dark;
  overflow: auto;
  resize: horizontal;

  .block {
    padding: 24px;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-bottom: 0;
    }
  }
  a.block {
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 14px;
    text-decoration: none;
  }

  @media (max-width: 720px) {
    display: none;
  }

  div[tabindex="0"] {
    outline: 0;
  }
}

.app-view {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  background-color: $color-bg;
}

.search-form {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  max-width: 620px;
  margin: 0 auto;

  .input {
    flex: 1;
  }
  .btn {
    margin-left: 16px;
  }
  .separator {
    padding: 0 12px;
    align-self: center;
    font-size: 18px;
    color: $color-primary;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
}
