@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

@import "base/variables";
@import "base/global";
@import "base/typography";
@import "base/layout";

@import "components/button";
@import "components/editor";
@import "components/file";
@import "components/forms";
@import "components/highlight";
@import "components/input";
@import "components/tree";

// Miscellaneous
// TODO: Move to logical files
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  transform: translate(-50%, -50%);
}

.project-list {
  list-style: none;
  margin: 40px auto;
  padding-left: 0;
  max-width: 720px;

  li {
    display: flex;
    align-items: center;
    font-weight: 500;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-primary, 0.05);
    }
  }
  .btn:first-child {
    margin-left: auto;
  }
}

.search-form {
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  max-width: 620px;
  margin: 0 auto;

  .input {
    flex: 1;
  }
  .btn {
    margin-left: 16px;
  }
  .separator {
    padding: 0 12px;
    align-self: center;
    font-size: 18px;
    color: $color-primary;
  }
}

.review-container {
  max-width: 720px;
}
