// Typography
$font-family: 'Roboto', 'Open Sans', Arial, sans-serif;
$font-size:   15px;
$line-height: 1.5;

// Colors
$color-base:         #4a4a4a;
$color-primary:      #4f8bc9; // #4a90e2
$color-secondary:    #ECBA1D;
$color-muted:        #777777;

$color-warning:         #F1B708;
$color-warning-light:   #fdf7e2;
$color-negative:        #CB2030;
$color-negative-light:  #faebec;

$color-bg:           #fafbfc;
$color-border:       #eaedee;
$color-border-dark:  #d4d9dc;

// Misc
$focus-box-shadow: 0 0 0 3px rgba($color-primary, 0.4);
