@import '../base/variables';

.file {
  border: 1px solid $color-border-dark;
  margin-bottom: 24px;
  transition: box-shadow 250ms ease;

  &:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,.05);
  }

  &.collapsed .file-content {
    max-height: 180px;
    opacity: 0.5;
    overflow: hidden;
    pointer-events: none;
  }
}

.file-header {
  padding: 12px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  background-color: $color-bg;
  border-bottom: 1px solid $color-border;

  small {
    font-weight: 400;
    font-size: 13px;
    color: $color-muted;
  }

  &:hover {
    color: $color-primary;
  }
}

.file-content {
  background-color: #FFF;
  overflow-y: auto;
  transition: opacity 250ms ease;
}

.file-footer {
  padding: 12px 16px;
  font-size: 14px;
  border-top: 1px solid $color-border;
}
