@import "../base/variables";

.highlight {
  pre {
    font-size: 14px!important;
    padding: 16px 0 0!important;
    background-color: #FFF!important;
    margin: 0;
  }

  span[data-lint-message] {
    display: block;
    cursor: pointer;
    border-left: 2px solid $color-warning;
    background: $color-warning-light;
    background: linear-gradient(to right, $color-warning-light, transparent);
  }
  span[data-lint-message="error"] {
    border-left: 3px solid $color-negative;
    background: $color-negative-light;
    background: linear-gradient(to right, $color-negative-light, transparent);
  }

  .react-syntax-highlighter-line-number {
    display: block;
    width: 48px;
    color: #AAA;
    text-align: right;
    padding-right: 4px;
  }
}
