pre {
  margin: 0;
  padding: 16px 0;
  overflow: auto;

  code {
    line-height: 22px;
    background-color: #FFF;
  }
}

code.hljs {
  padding: 0;
  background-color: #FFF;

  &:not(.hljs-line-numbers) {
    padding-left: 48px;
  }
}

table.hljs-ln {
  width: 100%;

  td:first-child {
    width: 48px;
    color: #AAA;
    padding-right: 16px;
    text-align: right;
  }

  tr:hover {
    background-color: #FAFAFA;
  }
}
