@import '../base/variables';

.input {
    display: block;
    padding: 10px 14px;
    font-family: $font-family;
    font-size: $font-size;
    color: $color-base;
    background-color: #FFF;
    border: 1px solid $color-border-dark;
    border-radius: 3px;
    transition: all 250ms ease;

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
    &:hover, &:focus {
        border-color: rgba($color-primary, 0.75);
    }
    &:focus {
        outline: 0;
        box-shadow: $focus-box-shadow;
    }
}

textarea.input {
    width: 100%;
    resize: none;
}

.input-group {
    display: flex;
    align-self: center;
    flex-flow: row wrap;
    margin-bottom: 12px;

    .input {
        flex: 1 1 auto;
        margin-right: 8px;
    }
}
