@import '../base/variables';

.input {
    display: block;
    padding: 10px 16px;
    font-family: $font-family;
    font-size: $font-size;
    color: $color-base;
    background-color: #FFF;
    border: 1px solid $color-border-dark;
    border-radius: 3px;
    transition: all 250ms ease;

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
    }
    &:hover, &:focus {
        border-color: rgba($color-primary, 0.75);
    }
    &:focus {
        outline: 0;
        box-shadow: $focus-box-shadow;
    }
}
