$levels: 0, 1, 2, 3, 4, 5;

.tree-view {
  font-size: 14px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.tree-item {
  position: relative;
  padding: 8px 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  svg {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    margin-bottom: -2px;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-bg;
  }
  &--active {
    font-weight: 500;
    color: $color-primary;
  }
  &--focused {
    font-weight: 500;
  }
  &--children::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 14px;
    margin-top: -7px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=');
    background-size: contain;
    transition: transform 250ms ease;
    transform: rotate(-90deg);
  }
  &--open::before {
    transform: rotate(0deg);
  }
}

.tree-item-icon {
  display: inline-block;
}

@each $level in $levels {
  .tree-item-level-#{$level} {
    padding-left: 32px + $level * 16px;

    &::before {
      left: 8px + $level * 16px;
    }
  }
}

